.footer {
  padding: 3rem 0;
  
  &__inner {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  &__logo-container {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 1.75rem;
    
    @include media-breakpoint-up(md) {
      margin: 0;
      padding: 0 1rem 0 0;
      width: 50%;
    }
  }
  
  &__logo {
    display: flex;
    align-items: center;
    margin: 0 2rem 0 0;
    text-decoration: none;
    
    &:hover {            
      svg {
        color: $clr-cyan;
      }
      
      .footer__heading {
        color: $clr-magenta;
      }
    }
    
    svg {
      transition: color $transition-default;
      width: calc(6.5rem * 0.5);
      height: calc(5.961rem * 0.5);
      
      @include media-breakpoint-up(md) {
        width: calc(6.5rem * 0.55);
        height: calc(5.961rem * 0.55);
      }
    }
  }
  
  &__heading {
    position: relative;
    transition: color $transition-default;
    font-family: Butler, Times, Georgia, serif;
    letter-spacing: normal;
    font-weight: 500;
    line-height: 1;
    font-size: 2.7rem;
    top: calc(0.1rem * 0.9);
    margin: 0 0 0 0.9rem;
    
    @include media-breakpoint-up(md) {
      font-size: 2.9rem;
      top: 0.1rem;
      margin: 0 0 0 1rem;
    }
  }
  
  &__copyright-container {
    display: flex;
    align-items: center;
    
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
      padding: 0 0 0 1rem;
      width: 50%;
    }
  }
  
  &__copyright {
    margin: 0 0.8rem 0 0;
    font-size: 1.4rem;

    a {
      position: relative;
      font-size: inherit;
      text-decoration: none;
      transition: color $transition-default;
      
      &:hover {
        color: $clr-cyan;
    
        &:after {
          width: 100%;
        }
      }
    
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1rem;
        border-bottom: 0.1rem solid $clr-white;
      }
    
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.1rem;
        border-bottom: 0.1rem solid $clr-magenta;
        transition: width $transition-default;
      }
    }
  }
  
  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;

    li {
      margin: 0 0.45rem;
      list-style: none;

      a {
        padding: 0.45rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          color: $clr-white;
          transition: color $transition-default;
          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }
  }

  &__email {
    &:hover {
      svg {
        color: $clr-cyan;
      }
    }
  }

  &__linkedin {
    &:hover {
      svg {
        color: $clr-magenta;
      }
    }
  }
}