/** Colors */

$clr-black: #000;
$clr-white: #fff;

$clr-grey-dark: #707070;
$clr-grey-light: #eeeeee;
$clr-white-dark: #fafafa;

$clr-navy-dark: #030c2d;
$clr-navy: #0c173c;
$clr-cyan: #36b2f3;
$clr-magenta: #d33bff;

$clr-red-error: #cc0000;
$clr-green-success: #40860a;