/** z-index */

$zindex-1: -10;
$zindex0: 0;
$zindex1: 10;
$zindex2: 20;
$zindex3: 30;
$zindex4: 40;
$zindex5: 50;
$zindex6: 60;
$zindex7: 70;
$zindex8: 80;
$zindex9: 90;
$zindex10: 100;
$zindexMassive: 99999;
$zindexNotMassive: -1000;