@mixin base-paragraph-styles {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75;
  letter-spacing: -0.022rem;
  margin: 0;

  @include media-breakpoint-up(sm) {
    font-size: 1.6rem;
    letter-spacing: -0.024rem;
  }
}